<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-sm-3">
              <h3>Pagamentos Seguros com</h3>
              <p>
                  <img src="./assets/img/cards.png" alt="" class="img-responsive">
              </p>
          </div>
          <div class="col-md-3 col-sm-3">
              <h3>Sobre</h3>
              <ul>
                  <li><a href="#0" data-toggle="modal" data-target="#login_2">Entrar</a></li>
                  <li><a href="#0" data-toggle="modal" data-target="#register">Registar</a></li>
                  <li><a href="#0">Termos and condições</a></li>
              </ul>
          </div>
          <div class="col-md-3 col-sm-3" id="newsletter">
              <h3>Newsletter</h3>
              <p>
                  Escreva-se ao nosso newsletter e mantenha-se informado de todas novidades.
              </p>
              <div id="message-newsletter_2">
              </div>
              <form method="post" action="http://www.ansonika.com/quickfood/assets/newsletter.php" name="newsletter_2" id="newsletter_2">
                  <div class="form-group">
                      <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Seu email" class="form-control">
                  </div>
                  <input type="submit" value="Subescrever" class="btn_1" id="submit-newsletter_2">
              </form>
          </div>
          <div class="col-md-2 col-sm-3">
              <h3>Configurações</h3>
              <div class="styled-select">
                  <select class="form-control" name="lang" id="lang">
                      <option value="English" selected>Português</option>
                      <option value="French">indisponivel outras línguas...</option>
                  </select>
              </div>
              <div class="styled-select">
                  <select class="form-control" name="currency" id="currency">
                      <option value="MZN" selected>MZN</option>
                      <option value="USD">USD</option>
                      <option value="EUR">EUR</option>
                  </select>
              </div>
          </div>
      </div><!-- End row -->
      <div class="row">
          <div class="col-md-12">
              <div id="social_footer">
                  <ul>
                      <li><a href="#0"><i class="icon-facebook"></i></a></li>
                      <li><a href="#0"><i class="icon-twitter"></i></a></li>
                      <li><a href="#0"><i class="icon-google"></i></a></li>
                  </ul>
                  <p>
                      © Swakuda 2018 by Rodrigues Mafumo
                  </p>
              </div>
          </div>
      </div><!-- End row -->
  </div><!-- End container -->
  </footer>