<!-- Preload -->
    <app-preloder></app-preloder>
<!-- End Preload -->

<!-- Header ================================================== -->
    <app-header></app-header>
<!-- End Header =============================================== -->

<!-- SubHeader =============================================== -->
    <app-subheader></app-subheader>
<!-- End SubHeader ============================================ -->
    
    <!-- Content ================================================== -->
    <app-home></app-home>
<!-- End Content =============================================== -->

<!-- Footer ================================================== -->
<app-footer></app-footer>
<!-- End Footer =============================================== -->

<div class="layer"></div><!-- Mobile menu overlay mask -->

<!-- Login modal -->   
<app-login></app-login>
<!-- End modal -->   

<!-- Register modal -->   
<app-register></app-register>
<!-- End Register modal -->
    