<section class="parallax-window" id="home" data-parallax="scroll" data-image-src="./assets/img/slides/slide_1.jpg" data-natural-width="1400" data-natural-height="550">
  <div id="subheader">
      <div id="sub_content">
          <h1>Peça Encomenda ou Takeaway</h1>
          <p>
              Está com fome? Peça e receba a comida no comodo da sua casa ou escritório.
          </p>
            <div id="custom-search-input">
                <a class="btn btn-primary btn-lg" routerLink="/restaurants"><i class="icon-search"></i>VER TODOS RESTAURANTES</a>
            </div>
      </div><!-- End sub_content -->
  </div><!-- End subheader -->
  <div id="count" class="hidden-xs">
      <ul>
          <li><span class="number">2650</span> Restaurantes</li>
          <li><span class="number">5350</span> Pessoas Servidas</li>
          <li><span class="number">12350</span>Utilizadores Registados</li>
      </ul>
  </div>
  </section><!-- End section -->